{
  "canBookmark" : true,
  "bookmarkName" : "Gunners Carrier - White Crow",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : true,
  "destinations" : [
    {
      "name" : "Beam to Ship",
      "planetName" : "",
      "warpAction" : "OwnShip",
      "icon" : "beamup"
    },
    {
      "name" : "Koichi's Museum",
      "planetName" : "",
      "warpAction" : "InstanceWorld:museum",
      "prerequisiteQuest" : "museumcurator6",
      "icon" : "default"
    }
  ]
}
