{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/objects/activenpc/ui/headernothing.png",
      "fileBody" : "/objects/activenpc/ui/radiooperatorui.png",
      "fileFooter" : "/objects/activenpc/ui/footernothing.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/objects/activenpc/ui/none.png",
      "hover" : "/objects/activenpc/ui/none.png",
      "press" : "/objects/activenpc/ui/none.png",
      "position" : [336, 255]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "position" : [85, 252],
      "icon" : {
        "type" : "image",
        "file" : "/objects/activenpc/ui/none.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [151, 245],
      "hAnchor" : "mid",
      "value" : ""
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [355, 243],
      "hAnchor" : "mid",
      "value" : ""
    },
    "lblAmountInput" : {
      "type" : "image",
      "file" : "/objects/activenpc/ui/none.png",
      "position" : [99999, 39],
      "zlevel" : -99999
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/none.png",
      "hover" : "/interface/none.png",
      "position" : [364, 38],
      "caption" : ""
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/objects/activenpc/ui/none.png",
      "baseImageChecked" : "/objects/activenpc/ui/none.png",
      "checkable" : true,
      "checked" : false,
      "position" : [115, 84]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [140, 84],
      "hAnchor" : "left",
      "value" : ""
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [9999, 9999, 9999, 9999],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/objects/activenpc/ui/none.png",
            "unselectedBG" : "/objects/activenpc/ui/none.png",
            "spacing" : [0, 1],
            "memberSize" : [156, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/objects/activenpc/ui/none.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [21, 11],
                "hAnchor" : "left",
                "width" : 116,
                "value" : ""
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [1, 1],
                "callback" : ""
              },
              "level" : {
                "type" : "label",
                "position" : [138, 9],
                "hAnchor" : "mid",
                "value" : ""
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [126, 1],
                "file" : "/objects/activenpc/ui/none.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [138, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/objects/activenpc/ui/none.png",
                "position" : [0, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "description" : {
      "type" : "widget",
      "position" : [280, 33],
      "size" : [140, 260]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [126, 68],
      "hint" : "",
      "maxWidth" : 120,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : true
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
        {
          "position" : [11, 44],
          "baseImage" : "/objects/activenpc/ui/none.png",
          "baseImageChecked" : "/objects/activenpc/ui/none.png",
          "data" : {
            "filter" : [ "GS8" ]
          }
        },
        {
          "position" : [11, 66],
          "baseImage" : "/objects/activenpc/ui/none.png",
          "baseImageChecked" : "/objects/activenpc/ui/none.png",
          "data" : {
            "filter" : [ "GS7" ]
          }
        },
        {
          "position" : [11, 88],
          "baseImage" : "/objects/activenpc/ui/none.png",
          "baseImageChecked" : "/objects/activenpc/ui/none.png",
          "data" : {
            "filter" : [ "GS6" ]
          }
        },
        {
          "position" : [11, 110],
          "baseImage" : "/objects/activenpc/ui/none.png",
          "baseImageChecked" : "/objects/activenpc/ui/none.png",
          "data" : {
            "filter" : [ "GS5" ]
          }
        },
        {
          "position" : [11, 132],
          "baseImage" : "/objects/activenpc/ui/none.png",
          "baseImageChecked" : "/objects/activenpc/ui/none.png",
          "data" : {
            "filter" : [ "GS4" ]
          }
        },
        {
          "position" : [11, 154],
          "baseImage" : "/objects/activenpc/ui/none.png",
          "baseImageChecked" : "/objects/activenpc/ui/none.png",
          "data" : {
            "filter" : [ "GS3" ]
          }
        },
        {
          "position" : [11, 176],
          "baseImage" : "/objects/activenpc/ui/none.png",
          "baseImageChecked" : "/objects/activenpc/ui/none.png",
          "data" : {
            "filter" : [ "GS2" ]
          }
        },
        {
          "position" : [11, 198],
          "baseImage" : "/objects/activenpc/ui/none.png",
          "baseImageChecked" : "/objects/activenpc/ui/none.png",
          "data" : {
            "filter" : [ "GS1" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
        {
          "position" : [53, 235],
          "baseImage" : "/objects/activenpc/ui/none.png",
          "baseImageChecked" : "/objects/activenpc/ui/none.png",
          "data" : {
            "rarity" : [ "common" ]
          }
        },
        {
          "position" : [58, 235],
          "baseImage" : "/objects/activenpc/ui/none.png",
          "baseImageChecked" : "/objects/activenpc/ui/none.png",
          "data" : {
            "rarity" : [ "uncommon" ]
          }
        },
        {
          "position" : [63, 235],
          "baseImage" : "/objects/activenpc/ui/none.png",
          "baseImageChecked" : "/objects/activenpc/ui/none.png",
          "data" : {
            "rarity" : [ "rare" ]
          }
        },
        {
          "position" : [68, 235],
          "baseImage" : "/objects/activenpc/ui/none.png",
          "baseImageChecked" : "/objects/activenpc/ui/none.png",
          "data" : {
            "rarity" : [ "legendary" ]
          }
        }
      ]
    }
  },
  "tooltip" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true
    },
    "itemList" : {
      "position" : [2, 3],
      "type" : "list",
      "schema" : {
        "spacing" : [0, 0],
        "memberSize" : [125, 25],
        "listTemplate" : {
          "itemName" : {
            "type" : "label",
            "position" : [22, 10],
            "hAnchor" : "left",
            "width" : 116,
            "value" : "Golden Moustache"
          },
          "itemIcon" : {
            "type" : "itemslot",
            "position" : [1, 1],
            "callback" : ""
          },
          "count" : {
            "type" : "label",
            "position" : [118, 0],
            "hAnchor" : "right",
            "value" : "19/99"
          }
        }
      }
    }
  }
}