{
  "requiresBlueprint" : false,
  "craftingSound" : "/gunshop/sound/money.ogg",
  
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/store/ui/header.png",
      "fileBody" : "/store/ui/bodygunshop.png",
      "fileFooter" : "/store/ui/footernothing.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/store/ui/power_0.png",
      "hover" : "/store/ui/power_1.png",
      "press" : "/store/ui/power_1.png",
      "pressedOffset" : [0, 0],
      "position" : [333, 265]
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [230, 260],
      "hAnchor" : "left",
      "value" : ""
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [375, 290],
      "upOffset" : 34
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [380, 290],
      "textAlign" : "center",
      "maxWidth" : 15,
      "regex" : "x?\\d{0,3}",
      "hint" : ""
    },
    "lblAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [380, 289],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [425, 287],
      "caption" : "PURCHASE"
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "toggleMode" : true,
      "checkable" : true,
      "checked" : true,
      "position" : [10, 231]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [20, 230],
      "hAnchor" : "left",
      "value" : "MATERIALS AVAILABLE"
    },
    "description" : {
      "type" : "widget",
      "position" : [350, 70],
      "size" : [140, 220]
    },
	
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [3, 66, 146, 230],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/store/ui/craftableselected.png",
            "unselectedBG" : "/store/ui/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [156, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/store/ui/craftablebackground.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [35, 11],
                "hAnchor" : "left",
                "width" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [15, 1],
                "callback" : "null"
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [98, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [110, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/store/ui/notcraftableoverlay.png",
                "position" : [0, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },

    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
//--gs 1tier
        {
          "position" : [155, 160],
          "baseImage" : "/store/ui/select0.png",
          "baseImageChecked" : "/store/ui/select1.png",
          "data" : {
            "filter" : [ "srs" ]
          }
        },
        {
          "position" : [255, 160],
          "baseImage" : "/store/ui/select0.png",
          "baseImageChecked" : "/store/ui/select1.png",
          "data" : {
            "filter" : [ "ng" ]
          }
        },
        {
          "position" : [155, 130],
          "baseImage" : "/store/ui/select0.png",
          "baseImageChecked" : "/store/ui/select1.png",
          "data" : {
            "filter" : [ "uscm" ]
          }
        },
        {
          "position" : [255, 130],
          "baseImage" : "/store/ui/select0.png",
          "baseImageChecked" : "/store/ui/select1.png",
          "data" : {
            "filter" : [ "socom" ]
          }
        },
        {
          "position" : [155, 100],
          "baseImage" : "/store/ui/select0.png",
          "baseImageChecked" : "/store/ui/select1.png",
          "data" : {
            "filter" : [ "prt" ]
          }
        },
        {
          "position" : [255, 100],
          "baseImage" : "/store/ui/select0.png",
          "baseImageChecked" : "/store/ui/select1.png",
          "data" : {
            "filter" : [ "lapd" ]
          }
        }
      ]
    }
  }
}