{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "bulletspark3",
      "inheritDamageFactor" : 0.5,
      "angle" : 0,
      "delaySteps" : 0
    },
    {
      "action" : "sound",
      "options" : [ "/gunshop/sound/grenadesmall.ogg","/gunshop/sound/grenademedium.ogg"]
    },
    {
      "action" : "loop",
      "count" : 20,
      "body" : [
        {
          "action" : "spark"
        }
      ]
    }
  ]
}
