{
  "action": "actions",
  "list": [
    {
      "action": "projectile",
      "type": "bulletspark4"
    },
    {
      "action": "particle",
      "specification": {
        "type": "ember",
        "size": 0.9,
        "color": [
          50,
          200,
          250,
          255
        ],
        "fade": 0.9,
        "initialVelocity": [
          0,
          5
        ],
        "finalVelocity": [
          0,
          10
        ],
        "approach": [
          0,
          5
        ],
        "timeToLive": 0.2,
        "layer": "front",
        "fullbright": true,
        "variance": {
          "initialVelocity": [
            5,
            0
          ]
        }
      }
    },
    {
      "action": "sound",
      "options": [
        "/gunshop/sound/bulletwhiz1.ogg",
        "/gunshop/sound/bulletwhiz2.ogg",
        "/gunshop/sound/bulletwhiz3.ogg"
      ]
    }
  ]
}
