{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "bulletspark2",
      "inheritDamageFactor" : 0,
      "delaySteps" : 0
    },
    {
      "action" : "projectile",
      "type" : "frag",
      "fuzzAngle" : 360,
      "inheritDamageFactor" : 0,
      "delaySteps" : 0
    },
    {
      "action" : "projectile",
      "type" : "frag1",
      "fuzzAngle" : 2,
      "inheritDamageFactor" : 0,
      "angle" : 90,
      "delaySteps" : 0
    },
    {
      "action" : "projectile",
      "type" : "frag2",
      "fuzzAngle" : 2,
      "inheritDamageFactor" : 0,
      "angle" : 90,
      "delaySteps" : 0
    },
    {
      "action" : "projectile",
      "type" : "frag3",
      "fuzzAngle" : 2,
      "inheritDamageFactor" : 0,
      "angle" : 90,
      "delaySteps" : 0
    },
    {
      "action" : "sound",
      "options" : [ "/gunshop/sound/bulletwhiz1.ogg","/gunshop/sound/bulletwhiz2.ogg","/gunshop/sound/bulletwhiz3.ogg"]
    },
    {
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "spark"
        }
      ]
    }
  ]
}
