{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "bulletspark_ap",
      "inheritDamageFactor" : 0,
      "angle" : 0,
      "delaySteps" : 0
    },
    {
      "action" : "loop",
      "count" : 100,
      "body" : [
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/gunshop/sound/grenadesmall.ogg","/gunshop/sound/grenademedium.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    }
  ]
}
