{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "bulletspark80",
      "inheritDamageFactor" : 0.5,
      "angle" : 0,
      "delaySteps" : 0
    },
    {
      "action" : "loop",
      "count" : 100,
      "body" : [
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 50,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/gunshopember1/gunshopember1.animation",
                "approach" : [0, 0],
                "timeToLive" : 0.8,
                "variance" : {
                  "position" : [6, 3],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/gunshop/sound/explosion80.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 6,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.1,
      "delaySteps" : 0
    }
  ]
}
