{
  "reattack" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Idiot!! Run away, I say!!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Ultra Strikers, Lead the way!",
        "Enemy spotted!",
        "It's the enemy!",
        "Dead ahead!",
        "Charge!",
        "Request for backup!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "I got one!!",
        "Enemy down!",
        "That's the way!",
        "Good show, comp!",
        "I told you so, didn't I? You little cub!!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Come out, you coward!!",
        "Come out! Show yourself, you rascals!!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Come out, you coward!!",
        "Come out! Show yourself, you rascals!!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Come out, you coward!!",
        "Come out! Show yourself, you rascals!!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Keep firing!",
        "Keep firing, I say!",
        "I'm gonna kill you all!!",
        "Shoot some more, you bloody tosses!!",
        "Are you sure you know how to fire a gun? You haven't hit anything!"
      ]
    }
  }
}
