{
  "reattack" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Идиот!! Побегите прочь, я говорю!!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "рубака Сою́з, пошёл!",
        "пошёл, пошёл, пошёл!",
        "в атаку!",
        "перёс!",
        "Противник!",
        "Противник обнаружен!",
        "Требуется подкрепление!!",
        "подкрепление!!",
        "Нужно подкрепление!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Сопротивление противника сломлено!!",
        "Противник уничтожен!!",
        "Мы их прикончим!!",
        "молодец!",
        "Так держать!",
        "Я сказал вас так, масло? Вы маленький новичок!!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Приходите вне, вы трусли вые!!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Приходите вне, вы трусли вые!!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Приходите вне, вы трусли вые!!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "молодец!",
        "Так держать!",
        "идя убить вас все!!",
        "Снимите еще некоторые, вас кровопролитные броски!"
      ]
    }
  }
}
