{
  "reattack" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Grenadier elite, Vorwärts!!",
        "Gingen los!",
        "Auf geht!",
        "Ziel bestätigt!",
        "Ziel erhaschte!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Grenadier elite, Vorwärts!!",
        "Gingen los!",
        "Auf geht!",
        "Ziel bestätigt!",
        "Ziel erhaschte!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Stirb, Stirb!",
        "Kritischer treffer!",
        "Wir haben sie böse erwischt!",
        "Ausgezeichnet!",
        "Wir haben sie!!",
        "Erwischt!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Ziel verloren!",
        "Wo sind sie hin?",
        "Wo ist das ziel hin?"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Ziel verloren!",
        "Wo sind sie hin?",
        "Wo ist das ziel hin?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Ziel verloren!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Ausgezeichnet!"
      ]
    }
  }
}
