{
  "converse" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
	    "Good day, Sir!",
        "Why is so many girls in our ship? Is there any reason?",
        "Hm.. When was the last time i cleaned my gun..?",
        "I found some bugs in our ship.Its not alien, right?!",
        "Checking cartridge chamber,clear! Checking operation,clear! checking gear,Oh.. shit.",
        "Don't worry, Sir! I've got your back!",
        "Ma'am, Can you pick up my SOAP? :D",
        "hmm.. Nice Boat.",
        "Where is my empty cartridge? wh.. where is it..? oh,no. Quatermaster will gonna tear me up!!",
        "Ha! ha! hahahaha *Cough *Cough",
        "I really want to smoke.. But I think I'll be shot when I put the lights on."
      ]
    }
  }
}