{
  "tagCriteria" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "Sir, Has changed something in this place?" 
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "I need some repairs done!"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "I didn't know that this place wasn't for me!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "It's impossible to live like this!"
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [  ]
    },
    "human" : {
      "default" : [
        "That's it, I give up. Time to leave!"
      ]
    }
  }
}
